clean_trips.json
careem_rfr_jan_31_trained.ipynb
careem_rfr_weekdays_trained.ipynb
careem_rfr_lina.ipynb
Cleaning/
merchants_csv/order_merchant_id_anon.parquet
merchants_csv/order_merchant_id_anon.csv